@model dynamic
@using ApplicationPlanCadre.Models

@{
    ViewBag.Title = "Rapport";
}
<style>
    .btn{
       float:left;
       margin-left:2px;
    }
    .form-horizontal .mr-0 {
        margin-right: 0 !important;
        padding-right:0px !important;
    }
    .form-control {
        margin-right: 0 !important;
    }
</style>
<h1>Rapport</h1>

<h2>Programme</h2>
<table>
    @foreach (Programme prog in Model.Programme)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => prog.nom)
            </td>
            <td>
                <a target="_blank" href='@Url.Action("RapportProgramme", "Rapport",new { id = prog.idProgramme })'>
                    
                    <span class="glyphicon glyphicon-file"></span>
                </a>
            </td>
        </tr>
    }
</table>

<h2>Plan cadre</h2>
<table>
    @foreach (PlanCadre prog in Model.PlanCadre)
    {
        <tr>
            <td>
                @Html.DisplayFor(x =>prog.numeroCours)
            </td>
            <td>@Html.DisplayFor(x => prog.titreCours)</td>
            <td>
                <a target="_blank" href='@Url.Action("RapportPlanCadre", "Rapport",new { id = prog.idPlanCadre})'>

                    <span class="glyphicon glyphicon-file"></span>
                </a>
            </td>
        </tr>
    }
</table>

        


