@model dynamic
@using ApplicationPlanCadre.Models

@{
    ViewBag.Title = "Rapport";
}
<style>
    .btn{
       float:left;
       margin-left:2px;
    }
    .form-horizontal .mr-0 {
        margin-right: 0 !important;
        padding-right:0px !important;
    }
    .form-control {
        margin-right: 0 !important;
    }
</style>


<div id="super-view">
    @*@Html.Action("_TreeView")*@
    <div id="info-display" class="container-fluid">
        <div id="info-detail">
            <h1>Rapport</h1>
            <h2>Plan Cadre</h2>
            <hr />
            @foreach (PlanCadre planCadre in Model.PlanCadre)
            {
                <a class="info-child clearfix" target="_blank" href='@Url.Action("RapportPlanCadre", "Rapport",new { id = planCadre.idPlanCadre})'>
                    <p class="gauche">@Html.DisplayFor(x => planCadre.titreCours)</p>
                    <p class="droite">@Html.DisplayFor(x => planCadre.numeroCours)</p>
                </a>
            }
            <h2>Programme</h2>
            <hr />
            @foreach (Programme prog in Model.Programme)
            {
                <a class="info-child clearfix" target="_blank" href='@Url.Action("RapportProgramme", "Rapport",new { id = prog.idProgramme })'>
                    <p class="gauche">@Html.DisplayFor(x => prog.nom)</p>
                    <p class="droite"></p>
                </a>
            }
        </div>
    </div>
</div>

        


