@model ApplicationPlanCadre.Models.PlanCadre

@{
    ViewBag.Title = "Delete";
}

<div class="container">

    @using (Html.BeginForm("DeleteConfirmed"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idPlanCadre)

        <div class="form-horizontal single-action">

            <h1>Supprimer un plan cadre</h1> @*ne doit pas pouvoir etre valider apres avoir recu un numero de l'indication pedagogique(munero cour)*@
            <h3>@Model.titreCours</h3>

            <hr />
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-12">
                <p>Si vous supprimez cette compétence, Les grilles de cour suivante seront affecter.</p>
                @*
                @foreach (var Grille in Model.Cours)
                {
                    @*<a class="info-child clearfix" href='@Url.Action("Info", "Grillecour", new { idGrille = Grille.idGrille })'> adapter avec eddy
                        <p>@Html.DisplayFor(gc => Grille.GrilleCours.nom)</p>
                    </a>
                }
                </div>*@

            <div class="col-md-12">
                <p>Êtes-vous certain de vouloir supprimer ce plan cadre?</p>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <a class="fancy-button" href='@Url.Action("DeleteConfirmed", new { idPlanCadre = Model.idPlanCadre })'>Confirmer</a>
                    <a class="fancy-button rouge" onclick="location.href='@Url.Action("Info", "Programme", new { idProgramme = Model.idProgramme })'">Annuler</a>
                </div>
            </div>
        </div>

    }

</div>


