@model ApplicationPlanCadre.Models.PlanCadre

@{
    ViewBag.Title = Model.titreCours;
    string carriageReturnText;
    int idElementConnaissanceHold = 0;
    int idActiviteApprentissageHold = 0;
}

@Html.Action("_TreeView", "Programme")

<div class="super-view">

    <header class="fat-header">

        <h3>Plan cadre</h3>

        <h1>@ViewBag.Title</h1>
        <hr />

        <h3>@Html.DisplayFor(m => m.numeroCours)</h3>

    </header>

    <div class="plan-cadre-table-container">

        <table class="plan-cadre-table">

            <tr>
                <th style="width:20%">Objectif - Énoncé des compétences</th>
                <th style="width:45%">Standard - Contexte de réalisation</th>
                <th style="width:35%">Indication pédagogiques, s'il y a lieu</th>
            </tr>

            @foreach (var planCadreEnonce in Model.PlanCadreEnonce)
            {
                <tr>

                    <td style="width:20%">
                        <p>@Html.DisplayFor(m => planCadreEnonce.EnonceCompetence.description) (@Html.DisplayFor(m => planCadreEnonce.EnonceCompetence.codeCompetence))</p>
                        <p>@Html.DisplayFor(m => planCadreEnonce.ponderationEnHeure) heures</p>
                    </td>

                    <td style="width:45%">
                        <ul class="hyphen-list">
                            @foreach (var contexteRealisation in planCadreEnonce.EnonceCompetence.ContexteRealisation)
                            {
                                <li>@Html.DisplayFor(m => contexteRealisation.description)</li>
                            }
                        </ul>
                    </td>

                    @if (planCadreEnonce == Model.PlanCadreEnonce.First())
                    {
                        <td rowspan="@Model.PlanCadreEnonce.Count()" style="width:35%">
                            @Html.DisplayFor(m => Model.indicationPedago)
                        </td>
                    }

                </tr>
            }
        </table>

        @foreach (var planCadreEnonce in Model.PlanCadreEnonce)
        {
            <table class="plan-cadre-table">

                <tr>
                    <th colspan="4">
                        @Html.DisplayFor(m => planCadreEnonce.EnonceCompetence.description) (@Html.DisplayFor(m => planCadreEnonce.EnonceCompetence.codeCompetence))
                    </th>
                </tr>

                <tr>

                    <th style="width:15%">
                        Éléments de compétence
                    </th>

                    <th style="width:30%">
                        Critères de performance
                    </th>

                    <th style="width:30%">
                        Éléments de connaissances
                    </th>

                    <th style="width:25%">
                        Activités d'apprentissage suggérées
                    </th>

                </tr>

                @foreach (var planCadreElement in planCadreEnonce.PlanCadreElement)
                {
                    var elementCompetence = planCadreElement.ElementCompetence;

                    <tr>

                        <td style="width:15%">
                            <ol start="@elementCompetence.numero">
                                <li>@Html.DisplayFor(m => elementCompetence.description)</li>
                            </ol>
                        </td>

                        <td style="width:30%">
                            <ol>
                                @foreach (var criterePerformance in planCadreElement.ElementCompetence.CriterePerformance)
                                {
                                    <li>@Html.DisplayFor(m => criterePerformance.description)</li>
                                }
                            </ol>
                        </td>

                        <td style="width:30%" class="rich-cell">
                            @Html.Raw(planCadreElement.ElementConnaissance.description)
                        </td>

                        <td style="width:25%" class="rich-cell">
                            @Html.Raw(planCadreElement.ElementConnaissance.ActiviteApprentissage.description)
                        </td>

                    </tr>
                }
            </table>
        }

        <table class="plan-cadre-table">
            <tr>
                <th style="width:50%">
                    Environnement physique
                </th>
                <th style="width:50%">
                    Ressources didactiques suggérées
                </th>
            </tr>
            <tr>
                <td style="width:50%" class="rich-cell">
                    @Html.Raw(Model.environnementPhys)
                </td>
                <td style="width:50%" class="rich-cell">
                    @Html.Raw(Model.ressource)
                </td>
            </tr>
        </table>

    </div>

    <h2>Options</h2>

    <a class="fancy-button" href='@Url.Action("Edit", new { idPlanCadre = Model.idPlanCadre })'><span class="glyphicon glyphicon-pencil"><!----></span> Modifier</a>
    <a class="fancy-button rouge" onclick="location.href='@Url.Action("Info", "Programme", new { idProgramme = Model.idProgramme })'">Retour</a>

</div>

<script>
    $(("#pc" + @Model.idPlanCadre + "item")).addClass('active');
    $(("#p" + @Model.Programme.idProgramme)).collapse('show');
</script>
