@model IEnumerable<ApplicationPlanCadre.Models.Programme>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EnteteProgramme.codeProgramme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specialisation)
        </th>
        <th class="action-cell-header">
            <b>Modifier</b>
        </th>
        <th class="action-cell-header">
            <b>Supprimer</b>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnteteProgramme.codeProgramme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codeSpecialisation)
            </td>
            <td class="action-cell">
                <button onclick="location.href='@Url.Action("Edit", "Programme", new { id = item.idProgramme })'">
                    <span class="glyphicon glyphicon-pencil"><!----></span>
                </button>
            </td>
            <td class="action-cell">
                <button onclick="location.href='@Url.Action("DeleteConfirmed", "Programme", new { id = item.idProgramme })'">
                    <span class="glyphicon glyphicon-trash"><!----></span>
                </button>
            </td>
        </tr>
    }
</table>

@*<script src="../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function deleteOnClick() {
        $.get('@Url.Action("_PartialList", "Programme")', function (data) {
            $('#tableProgramme').replaceWith(data);
        });
        $.ajax({
            url: $(this).attr("href"),
        });
    }
</script>*@
