@model ApplicationPlanCadre.Models.Programme

@{
    ViewBag.Title = "Edit";
}

<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idProgramme)

        <div class="form-horizontal form-box single-action">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h3>Modification d'un programme</h3>
            <hr />
            <div class="champ">
                @Html.ValidationMessage("Duplique", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EnteteProgramme, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("codeProgramme", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EnteteProgramme, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.annee, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.annee, new { htmlAttributes = new { @class = "form-control small-input", @maxlength = 4, @onkeydown = "return (!(event.keyCode>=65) && event.keyCode!=32);" } })
                    @Html.ValidationMessageFor(model => model.annee, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.codeSpecialisation, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.codeSpecialisation, new { htmlAttributes = new { @class = "form-control small-input", @maxlength = 2 } })
                    @Html.ValidationMessageFor(model => model.codeSpecialisation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Confirmer" class="fancy-button" />
                    <a href='@Url.Action("Create")' class="fancy-button rouge">Annuler</a>
                </div>
            </div>
        </div>
    }

</div>