@model IEnumerable<ApplicationPlanCadre.Models.EnonceCompetence>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Programme.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codeCompetence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enonceCompetence1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motClef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.obligatoire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commentaire)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Programme.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codeCompetence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enonceCompetence1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motClef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obligatoire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commentaire)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCompetence }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCompetence }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCompetence })
        </td>
    </tr>
}

</table>
