@model ApplicationPlanCadre.Models.Programme

@{
    ViewBag.Title = "Details";
}

<div class="container">

    <div class="jumbotron">
        <h1>@Html.DisplayFor(model => model.nom)</h1>
        <h2>Spécialisation : @Html.DisplayFor(model => model.specialisation)</h2>
        <h3>code : @Html.DisplayFor(model => model.codeProgramme)-@Html.DisplayFor(model => model.annee)-@Html.DisplayFor(model => model.codeSpecialisation)</h3>
        <h4>@ViewBag.dateValidationModule</h4>
        <h4>@ViewBag.dateValidation</h4>
    </div>

    <h2>Informations</h2>

    <div class="row">
        <div class="col-md-6">
            <label for="code">Type de sanction : </label>
            @Html.DisplayFor(model => model.sanction)
            <br><br>
            <label>Nombre d'unité : </label>
            @Html.DisplayFor(model => model.nbUnite)
            <br><br>
            <label>Conditions particulières : </label>
            @Html.DisplayFor(model => model.condition)
            <br><br>
            <a href="~/image/programme.pdf" target=_blank>Document du ministère (PDF)</a>

            <!--@Html.ActionLink("Consulter", "ViewPdf", "Programmes")-->
        </div>

        <div class="col-md-6">
            <label>Durée totale :  </label>@Html.ViewData["total"]<br><br>
            <label>Formation générale : </label>
            @Html.DisplayFor(model => model.nbHeurefrmGenerale)
            <br><br>
            <label>Formation spécifique : </label>
            @Html.DisplayFor(model => model.nbHeurefrmSpecifique)
            <br><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="fancy-button cancel" onclick="location.href='@Url.Action("Index")'">Annuler</div>
            <input type="submit" value="Modifier" onclick="location.href='@Url.Action("Edit", "Programme", new { id =Model.idProgramme })'" />

            @* Exemple de lien fonctionnel
                <div class="edit">@Html.ActionLink("Modifier", "Edit", new { id = Model.codeProgramme })</div>
            *@

        </div>
    </div>

    <div class="row">
        <h1>Zone compétence</h1>
        <div class="competences">
            @Html.Action("_PartialEnonceCompetence", new { id = Model.idProgramme })
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <input type="submit" value="Valider" onclick="location.href='@Url.Action("ValiderProgramme", "Programme", new { id = Model.idProgramme })'" />
        </div>
    </div>

</div>