@model IEnumerable<ApplicationPlanCadre.Models.Programme>

@{
    ViewBag.Title = "Programmes";
}

@Html.Action("_TreeView")

<div class="super-view">

    <header class="light-header">

        <h1>@ViewBag.Title</h1>

    </header>

    @foreach (var programme in Model)
    {
        <a class="info-child clearfix" href='@Url.Action("Info", "Programme", new { idProgramme = programme.idProgramme })'>
            <p class="gauche">@Html.DisplayFor(model => programme.description)</p>
            <p class="droite">@Html.DisplayFor(model => programme.DevisMinistere.EnteteProgramme.codeProgramme)-@Html.DisplayFor(model => programme.annee)-@Html.DisplayFor(model => programme.DevisMinistere.codeSpecialisation)</p>
        </a>
    }

    <a class="fancy-button rouge" onclick="location.href='@Url.Action("Pedagogie", "Accueil")'">Retour</a>

</div>

