@model ApplicationPlanCadre.Models.Programme

@{
    ViewBag.Title = Model.description;
}

@Html.Action("_TreeView")

<div class="super-view">

    <header class="fat-header">

        <h3>Programme</h3>

        <h1>@ViewBag.Title</h1>
        <hr />

        <h3>@Html.DisplayFor(model => model.DevisMinistere.EnteteProgramme.codeProgramme)-@Html.DisplayFor(model => model.annee)-@Html.DisplayFor(model => model.DevisMinistere.codeSpecialisation)</h3>

    </header>

    <h2>Liste des plans cadres</h2>

    @foreach (var planCadre in Model.PlanCadre)
    {
        <a class="info-child clearfix" href='@Url.Action("info", "PlanCadre", new { idPlanCadre = planCadre.idPlanCadre })'>
            <p class="gauche">@Html.DisplayFor(ec => planCadre.titreCours)</p>
            <p class="droite">@Html.DisplayFor(model => planCadre.numeroCours)</p>
        </a>
    }

    <hr />

    <h2>Options</h2>

    <a class="fancy-button" href='@Url.Action("Create", "PlanCadre", new {idProgramme = Model.idProgramme})'><span class="glyphicon glyphicon-plus"><!----></span> Ajouter un plan cadre</a>
    <a class="fancy-button rouge" onclick="location.href='@Url.Action("Index", "Programme")'">Retour</a>

</div>