@model ApplicationPlanCadre.Models.DevisMinistere

@{
    ViewBag.Title = "Modifier un devis ministériel";
}

@using (Html.BeginForm("Edit", "DevisMinistere", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.idDevis)
    @Html.HiddenFor(model => model.codeProgramme)
    @Html.HiddenFor(model => model.annee)
    @Html.HiddenFor(model => model.codeSpecialisation)
    @Html.HiddenFor(model => model.docMinistere)

    <div class="container">
        <div class="form-box single-action">
            <h1>Modifier un devis ministériel</h1>

            <h3>@Html.DisplayFor(e => e.nom)</h3>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">

                    <div class="field">
                        @Html.LabelFor(model => model.specialisation, new { @class = "col-xs-3"})
                        @Html.TextBoxFor(model => model.specialisation, new { @class = "col-xs-9" })
                        @Html.ValidationMessageFor(model => model.specialisation, "", new { @class = "text-danger" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.sanction)
                        @Html.TextBoxFor(model => model.sanction)
                        @Html.ValidationMessageFor(model => model.sanction, "", new { @class = "text-danger" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.nbUnite)
                        @Html.TextBoxFor(model => model.nbUnite, new { @class = "small-input" })
                        @Html.ValidationMessageFor(model => model.nbUnite, "", new { @class = "text-danger" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.condition)
                        @Html.TextBoxFor(model => model.condition)
                        @Html.ValidationMessageFor(model => model.condition, "", new { @class = "text-danger" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.docMinistere)

                        <input type="file" id="pdf" name="docMinistere" class="inputfile" accept="application/pdf" />

                        <label for="pdf" class="file-button fancy-button rouge">
                            <span class="upload glyphicon glyphicon-download-alt"><!----></span>
                            <span class="filename">
                                @(Model.docMinistere == null ? @Html.Raw("Téléverser un PDF") : @Html.DisplayFor(model => model.docMinistere))
                            </span>
                        </label>

                        <p>@Html.ValidationMessage("PDF", new { @class = "text-danger" })</p>
                    </div>

                </div>
                <div class="col-md-6">
                    <fieldset>

                        <legend>Heures</legend>

                        <div class="field">
                            @Html.LabelFor(model => model.nbHeureFrmGenerale)
                            @Html.TextBoxFor(model => model.nbHeureFrmGenerale, new { @maxlength = "4", @class = "small-input" })
                            @Html.ValidationMessageFor(model => model.nbHeureFrmGenerale, "", new { @class = "text-danger" })
                        </div>
                        <div class="field">
                            @Html.LabelFor(model => model.nbHeureFrmSpecifique)
                            @Html.TextBoxFor(model => model.nbHeureFrmSpecifique, new { @maxlength = "4", @class = "small-input" })
                            @Html.ValidationMessageFor(model => model.nbHeureFrmSpecifique, "", new { @class = "text-danger" })
                        </div>

                    </fieldset>
                </div>
            </div>

            <input type="submit" value="Enregistrer" class="fancy-button" />

            <a class="fancy-button rouge" href='@Url.Action("Info", "DevisMinistere", new { idDevis = Model.idDevis })'>Annuler</a>

        </div>
    </div>
}

@Scripts.Render("~/Scripts/jquery.custom-file-input.js")