@model ApplicationPlanCadre.Models.ElementCompetence

@{
    ViewBag.Title = Model.description;
}

@Html.Action("_TreeView", "DevisMinistere")

<div class="super-view">

    <header class="fat-header">

        <h3>Élément de compétence</h3>

        <h1>@ViewBag.Title</h1>

    </header>

    @if (Model.CriterePerformance.Count > 0)
    {
        <h2>Critères de performance</h2>

        <ol type="1">
            @foreach (var criterePerformance in Model.CriterePerformance.OrderBy(e => e.numero))
            {
                <li>@Html.DisplayFor(m => criterePerformance.description)</li>
            }
        </ol>

        <hr />
    }

    <h2>Options</h2>

    <a class="fancy-button" href='@Url.Action("Edit", new { idElement = Model.idElement })'><span class="glyphicon glyphicon-pencil"></span> Modifier</a>
    <a class="fancy-button" onclick="location.href='@Url.Action("Delete", new { idElement = Model.idElement })'"><span class="glyphicon glyphicon-trash"></span> Supprimer l'élément</a>
    <a class="fancy-button rouge" onclick="location.href='@Url.Action("Info", "EnonceCompetence", new { idCompetence = Model.idCompetence })'">Retour</a>

</div>

<script>
    $(("#el" + @Model.idElement + "item")).addClass('active');
    $(("#enc" + @Model.EnonceCompetence.idCompetence)).collapse('show');
    $(("#p" + @Model.EnonceCompetence.DevisMinistere.idDevis)).collapse('show');
</script>