@model ApplicationPlanCadre.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
}

<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="form-horizontal form-box single-action">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h1>Créer un nouvel utilisateur</h1>

            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.prenom, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.prenom, new { @class = "form-control" })
                </div>

                @Html.LabelFor(m => m.nom, new { @class = "col-md-1 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.nom, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Confirmer" class="fancy-button" />
                    <a href='@Url.Action("Create")' class="fancy-button rouge">Annuler</a>
                </div>
            </div>
        </div>
    }

</div>