@model IEnumerable<ApplicationPlanCadre.Models.ApplicationUser>

@{
    ViewBag.Title = "List";
}

<div class="container">

    <h1>Liste des utilisateurs</h1>

    <div class="form-group">
        <a href='@Url.Action("Register", "Account")' class="fancy-button">Créer un utilisateur</a>
        <a href='@Url.Action("ConsoleAdmin", "Accueil")' class="fancy-button rouge">Terminer</a>
    </div>

    <hr />

    <div class="crud-list">

        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.roles)
                </th>
                <th class="action-cell-header">
                    <b>Modifier</b>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.prenom) @Html.DisplayFor(modelItem => item.nom) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roles)
                    </td>
                    <td class="action-cell">
                        <a href='@Url.Action("Edit", new { userId = item.Id })'>
                            <span class="glyphicon glyphicon-pencil"><!----></span>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>
