@model programmeBDDevCF.Models.Programme

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Programme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnteteProgramme.commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteteProgramme.commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbUnite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbUnite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codeSpecialisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codeSpecialisation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialisation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbHeurefrmGenerale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbHeurefrmGenerale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbHeurefrmSpecifique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbHeurefrmSpecifique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sanction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sanction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.docMinistere_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.docMinistere_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateValidation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateValidation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
