@model programmeBDDevCF.Models.Programme

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h1>@Html.DisplayFor(model => model.nom)</h1>
    <h2>Spécialisation : @Html.DisplayFor(model => model.specialisation)</h2>
    <h3>code : @Html.DisplayFor(model => model.codeProgramme)-@Html.DisplayFor(model => model.annee)-@Html.DisplayFor(model => model.codeSpecialisation)</h3>
</div>

<h2>Informations </h2>

<div class="row">
    <div class="col-md-6">
        <label for="code">Type de sanction : </label>
        @Html.DisplayFor(model => model.sanction)
        <br><br>
        <label>Nombre d'unité : </label>
        @Html.DisplayFor(model => model.nbUnite)
        <br><br>
        <label>Conditions particulières : </label>
        @Html.DisplayFor(model => model.condition)
        <br><br>
        <!--<button class="btn btn-default" type="submit">@Html.ActionLink("Consulter", "ViewPdf", "tblProgrammes")</button>@Html.DisplayFor(model => model.docMinistere_path)--> <!--Utiliser la donnée de la BD pour afficher-->

        <a href="~/image/programme.pdf" target=_blank>Document du ministère (PDF)</a>

        <!--@Html.ActionLink("Consulter", "ViewPdf", "tblProgrammes")-->

    </div>
    <div class="col-md-6">

        <label>Durée totale : </label>@Html.ViewData["total"]<br><br>
        <label>Formation générale : </label>
        @Html.DisplayFor(model => model.nbHeurefrmGenerale)
        <br><br>
        <label>Formation spécifique : </label>
        @Html.DisplayFor(model => model.nbHeurefrmSpecifique)
        <br><br>

    </div>

</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <input type="button" class="btn btn-info" value="Modifier" onclick="location.href='@Url.Action("Edit", "Programme", new { id =Model.idProgramme })'" />

        <!-- Exemple de lien fonctionnel
        <div class="edit">@Html.ActionLink("Modifier", "Edit", new { id = Model.codeProgramme })</div>
        -->

    </div>
</div>



<div class="row">
    <div class="competences">
        <h1>Zone compétence</h1>

    </div>


</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-2">
        <input type="button" class="btn btn-info" value="Enregistrer" onclick="location.href='@Url.Action("Index", "Programme")'" />
    </div>
    <div class="col-md-2">
        <input type="button" class="btn btn-danger" value="Valider" onclick="location.href='@Url.Action("Index", "Programme")'" />
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProgramme }) |
    @Html.ActionLink("Back to List", "Index")
</p>




<!--  


<h2>Details</h2>

<div>
    <h4>Programme</h4>
    <hr />
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnteteProgramme.commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteteProgramme.commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbUnite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbUnite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codeSpecialisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codeSpecialisation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialisation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbHeurefrmGenerale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbHeurefrmGenerale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbHeurefrmSpecifique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbHeurefrmSpecifique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sanction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sanction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.docMinistere_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.docMinistere_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateValidation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateValidation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codeProgramme }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    -->