@model ApplicationPlanCadre.Models.EnonceCompetence

@{
    ViewBag.Title = "Delete";
}

<div class="container">

    @using (Html.BeginForm("DeleteConfirmed"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idCompetence)

        <div class="form-horizontal single-action">

            <h1>Supprimer un énoncé de compétence</h1>
            <h3>@Model.enonceCompetence1</h3>

            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-12">
                <p>Si vous supprimer cette compétence, vous supprimer aussi les éléments de compétence suivant.</p>
                @foreach (var elementCompetence in Model.ElementCompetence)
                {
                    <a class="info-child clearfix" href='@Url.Action("Info", "ElementCompetence", new { idElement = elementCompetence.idElement })'>
                        <p>@Html.DisplayFor(ec => elementCompetence.element)</p>
                    </a>
                }
            </div>

            <div class="col-md-12">
                <p>Êtes vous certain de vouloir supprimer cette compétence?</p>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <a class="fancy-button" href='@Url.Action("DeleteConfirmed", new { idCompetence = Model.idCompetence })'>Confirmer</a>
                    <div class="fancy-button rouge" onclick="location.href='@Url.Action("Info", "Programme", new { idProgramme = Model.idProgramme })'">Annuler</div>
                </div>
            </div>
        </div>

    }

</div>

