@model ApplicationPlanCadre.Models.GrilleCours


@Html.Action("_TreeView")
<div class="super-view">

    <div id="info-display" class="container-fluid">
        <header class="fat-header">

            <h1>Grille de cours : @Model.nom</h1>

        </header>
        <div class="section-grille">
            <div id="info-header">
                <div>
                    <h1>@ViewBag.nom</h1>
                    <div class="fancy-button edit" onclick="location.href='@Url.Action("Edit", "grilleCours", new { id = Model.idGrille })'"><span class="glyphicon glyphicon-pencil"></span> Modifier</div>
                    <div class="fancy-button edit" onclick="location.href='@Url.Action("Delete", "grilleCours", new { id = Model.idGrille })'"><span class="glyphicon glyphicon-trash"></span> Supprimer</div>

                </div>
                <hr />
                <div class="select-grille">
                    <div class="row">
                        <div class="col-sm-4" id="hover-grille" onclick="location.href='@Url.Action("Info", "grilleCours", new { id = Model.idGrille })'"><h3>Structure</h3></div>
                        <div class="col-sm-4" id="hover-grille" onclick="location.href='@Url.Action("InfoHeure", "grilleCours", new { id = Model.idGrille })'"><h3>Heure</h3></div>
                        <div class="col-sm-4" id="selected-grille"><h3>Préalable</h3></div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
            
            @Html.Action("_Prealable")
     </div>
</div>
