@model ApplicationPlanCadre.Models.ContexteRealisation

@{
    ViewBag.Title = "Edit";
}

<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idContexte)
        @Html.HiddenFor(model => model.idCompetence)

        <div class="horizontal-form form-box single">

            <h3>Modifier un contexte de réalisation</h3>

            <div class="form-group">
                @Html.TextAreaFor(model => model.description, new { @rows = "3", @maxlength = "300", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmer" class="fancy-button" />
                <a href='@Url.Action("Create", new { idCompetence = Model.idCompetence })' class="fancy-button rouge">Annuler</a>
            </div>
        </div>
    }

</div>